---
layout: ""
page_title: "TransparentEdge Terraform Provider"
description: |-
    The TransparentEdge provider to interact directly with the autoprovisioning
    capabilities of the CDN via API.
---

# TransparentEdge Terraform Provider

A terraform provider for the CDN of [Transparent Edge](https://www.transparentedge.eu/).  
This provider is intended to be used by the CDN users with the role "Company Admin", although some services do not require this role.

## Example usage

{{tffile "examples/provider/provider.tf"}}

It's recommended to use environment variables:  

```shell
export TCDN_COMPANY_ID=0
export TCDN_CLIENT_ID="xxx"
export TCDN_CLIENT_SECRET="xxx"
```

You can find all the required variables in our [dashboard](https://dashboard.transparentcdn.com/): `"Profile" -> "Account options" -> "Manage keys".`  

Make sure that you're using the correct Company ID if you own multiple companies.  

Optional environment variables:  

```shell
# Not required, default values are:
export TCDN_API_URL="https://api.transparentcdn.com"
export TCDN_INSECURE=false
```

{{ .SchemaMarkdown | trimspace }}
