---
layout: ""
page_title: "transparentedge_certreq_dns_cname_verification Data Source - transparentedge"
subcategory: ""
description: |-
  Certificate Request DNS CNAME Verification.
---

# transparentedge_certreq_dns_cname_verification (Data Source)

With this data source you can retrieve the CNAME record required to generate certificates using the DNS by CNAME challenge.
To create a credential that uses the DNS by CNAME challenge you can use the `transparentedge_certreq_dns_credential` resource:

```terraform
# This credential must be attached to a DNS Certificate Request that wants to perform
# the validation using a CNAME.
resource "transparentedge_certreq_dns_credential" "cname_verif" {
  alias = "cname-verification"
  parameters = {
    CNAME_VERIFICATION = ""
  }
}
```

This method relies on the CNAME or alias functionality of the DNS protocol to obtain SSL/TLS certificates. To use this method successfully, ensure that the `_acme-challenge` DNS record is set as a CNAME with the value obtained using this data-source.

For instance, if you intend to create SSL/TLS certificates for both `example.com` and `*.example.com`, you must configure the following CNAME DNS record:

```
_acme-challenge.example.com       CNAME   abcdefg1234567.tls-validation.edge2befaster.net
```

If you want to obtain certificates for a subdomain, the CNAME record must be created after that subdomain.

For example, if you want to create a certificate for both `static.example.com` and `*.static.example.com`, ensure that you configure the following CNAME DNS record:

```
_acme-challenge.static.example.com       CNAME   abcdefg1234567.tls-validation.edge2befaster.net
```

Here, `abcdefg1234567` is a unique string that you can acquire using this specific data source.

More info available [here](https://docs.transparentedge.eu/getting-started/dashboard/auto-provisioning/ssl#autogenerated-dns-certificates-by-cname)

## Example Usage

{{tffile "examples/data-sources/transparentedge_certreq_dns_cname_verification/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}

